body, 
html {

	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center; 
	font-family: 'Montserrat', sans-serif;
	background:  center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	background-color: #ce7b7b87;
}

header{
	margin-top: 50px;
}	
  

p{
	font-size: 2rem;
}

.box{
	flex-wrap: wrap;
	
	border: 10px inset purple ;
	padding: 10px;
	margin: 50px;
	background-color: rgba(187, 21, 21, 0.3);
	}
